body{
	font-family: montserrat,sans-serif;
	margin: 0px;
}

nav{
	display: flex;
	flex-wrap: wrap;
	height: 80px;
	background-color: #6995ee;
}

.espaceheader{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.lien{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #FFFFFF;
	font-weight: 700;
	text-transform: uppercase;
}

.lien:focus{
	display:overline block;
    border-top:6px solid white;
    padding-top:2px;
}

.lien:hover{
	color: #80aaff;
	font-weight: 900;
	display:overline block;
    border-top:8px solid #80aaff;
    padding-top:2px;
}

section:not(:target){
	display: none;
}

section:target{
	display: block;
}

.text{
	text-align: center;
}

.expsec{
	padding-left: 10%;
}

footer{
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 60px;
	background-color: #6487cc;
}

footer p{
	display: flex;
	align-content: center;
	color: #ffffff;
	font-size: 15px;
	font-family: "Arial Black";
}